body, html {
    height: 100%;
  }

.bg { 
    background-image: url("images/background.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#imgContainer {
    padding: 30px;
}
#titleImg1 {
    display: block;
    margin-left: auto;
    margin-right: auto;        
    width: 90%;
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid white;
    position: fixed;
}
#titleImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid white;
    width: 90%;
    height: 40%;
}

#address {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 83%;
    color: aliceblue;
}
#title{
    font-size: 25;
    font-weight: 100;
}
#address >pre {
    margin: 0;
}
#subTitle{
    font-size: 15;
    color:rgb(179, 174, 167);
}

#menu{
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 83%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(221, 221, 220);
    border: 1px solid rgb(221, 221, 220);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: 500;
    font-size: 18;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }
  li a i{
    float: right;
  }
